<div class="background">
  <div class="nav-bar-wrapper">
    <nav class="nav-bar">
      <h1 class="navbar-logo nav-bar-item">Gathering of Films</h1>
      <span></span>
    </nav>
  </div>
<div class="welcome-page">
  
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
  >
    Login
  </button>
</div>
</div>
