<div class="nav-bar-wrapper">
  <nav class="nav-bar">
    <h1 class="navbar-logo nav-bar-item">Gathering of Films</h1>
    <span></span>
    <button mat-button class="nav-bar-item" (click)="toMovies()">Movies</button>
    <span></span>
    <button mat-button class="nav-bar-item" (click)="toProfile()">Profile</button>
    <span></span>
    <button mat-button class="nav-bar-item" (click)="logOut()" class="logout-button">Log Out</button>
  </nav>
</div>

<!-- <p>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="menu">
      <span>Gathering of Films</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p> -->